body {
  color: black;
  background: white;
}

div {
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
}

input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

img {
  width: 300px;
  margin-bottom: 25px;
}

button {
  margin-left:  5px;
}